/* Định dạng menu dọc cha */
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    position: relative;
}

.menu ul li a {
    display: block;
    padding: 10px;
    background-color: #eee;
    color: #333;
    text-decoration: none;
}

/* Định dạng menu dọc con */
.menu ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
}

.menu ul ul li {
    float: none;
    width: 100%;
}

.menu ul ul a {
    padding: 10px;
    background-color: #ddd;
    color: #333;
    text-decoration: none;
    display: block;
}

/* Hiển thị menu dọc con khi rê chuột vào menu dọc cha */
.menu ul li:hover>ul {
    display: block;
}

/* Hiển thị menu dọc con sang bên phải của menu dọc cha */
.menu ul ul {
    right: 0;
    left: auto;
}