body{
    margin: 50px;
}
.menu {
    margin: 0;
    padding: 0;
    background-color: #1100ff;
    color: #fff;
    width: 100%;
    list-style: none;
  }
  
  .ul-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
  
  .menu li {
    float: left;
    background-color: #1100ff;
    border-right: 1464546px;

  }
  
  .menu a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color 0.5s;
  }
  
  .menu a:hover {
    background-color: #ff0000;
  }
